//
// Transition.
//
$default-transition-duration: 0.15s;

//
// Text shadow.
//
$default-text-shadow-color: rgba(#333, 0.6);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;

//
// Border radius.
//
$radius-s: 0.25em;
$radius-m: 0.5em;
$radius-l: 50%;
