//
// Product pages
//

.section-primary {
  @include bp(large) {
    @include span(11 at 1);
  }
}
.section-secondary {
  @include bp(large) {
    @include span(8 at 13);
  }
}
.product-section {
  position: relative;
}

#product {
  .section-primary {
    @include clearfix;
    margin-bottom: vrem(6);
    @include bp(large) {
      @include span(7 at 1);
    }
  }
  .section-secondary {
    margin-bottom: vrem(14);
    @include bp(large) {
      @include span(11 at 10);
    }
  }
}

// Product info
.product-info {
  // margin-bottom: vrem(6);
}
.product-info--primary {
  @include font-size(product-info--small);
  margin-bottom: vrem(4);
  @include bp(medium) {
    @include span(8 at 1 of 11);
    position: relative;
    margin-bottom: 0;
  }
  .review-promo-link {
    display: inline-block;
    float: left;
    margin-top: vrem(3);
    margin-right: vrem(5);
    // margin-bottom: vrem(2);
    @include font-size(review-promo-link);

    + .review-promo-link {
      margin-top: vrem(3.2);
      margin-right: 0;
    }
  }
  .tooltip-anchor {
    float: left;
    margin-top: vrem(3.5);
    margin-left: vrem(1.5);
  }
  > p {
    // margin-top: -5px;
  }
}
.product-info--secondary {
  margin-bottom: vrem(4);
  @include bp(medium) {
    @include span(2 at 10 of 11);
    text-align: right;
  }
}
// #lulzbot-store-user-location {
//   margin-top: vrem(2);
//   margin-bottom: vrem(2);
// } 65h, 87w

.review--promo {
  @include clearfix;
  margin-top: vrem(6);
  text-align: center;
  @include bp(small) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review-promo-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: vrem(4);
    margin-top: 0;
    padding-left: 0;
    @include bp(small) {
      &:before {
        content: '';
      }
    }
    &:before {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -20px;
      width: 1px;
      height: 40px;
      background-color: $clr-border;
    }
    li {
      display: inline-block;
      margin-top: 0;
      margin-left: vrem(1);
      margin-right: vrem(1);
      img {

      }
    }
  }

  .review-promo-link {
    text-align: center;
    margin-right: 30px;
    @include font-size(review-promo-link);
    @include bp(small) {
      align-self: center;
      justify-content: right;
      margin-left: vrem(4);
    }
  }
}

.form-item-quantity {
  @include block--form;
  .form-text {
    max-width: 42px;
  }
}

#related {
  margin-top: vrem(16);
  padding-bottom: vrem(16);

  @include bp(large) {
    margin-top: vrem(20);
    padding-bottom: vrem(20);
  }

  .section--primary {
    @include bp(large) {
      @include span(7 at 1);
    }

    + .section--secondary {
      @include bp(large) {
        @include span(11 at 10);
      }
    }
  }

  .section--secondary {
    margin-top: vrem(14);
    @include bp(large) {
      margin-top: 0;
      @include span(11 at 1);
      > h4 {
        margin-top: 0;
        color: $gray-black;
      }
    }
  }

  .section--tertiary {
    @include bp(medium) {
      @include span(5 at 16);
    }
  }
}

#details {
  @include font-size(body--tiny);
  color: $gray;
  will-change: max-height;
  > div {
    &:first-child {
      // padding-top: vrem(12);
    }
    &:last-child {
      padding-bottom: vrem(12);
    }
    @include bp(medium) {
      // padding-top: vrem(16);
      padding-bottom: vrem(26);
      &:first-child {
        // padding-top: vrem(16);
      }
      &:last-child {
        padding-bottom: vrem(26);
      }
    }

    @include bp(medium) {
      &:nth-last-child(3):first-child,
      &:nth-last-child(3):first-child ~ div {
        float: left;
        width: span(6);
        &:not(:last-child) {
          margin-right: span(1);
        }
      }
    }
  }
}

#video {
  padding-top: vrem(16);
  padding-bottom: vrem(16);

  @include bp(large) {
    padding-top: vrem(20);
    padding-bottom: vrem(20);
  }


  @include color-scheme(white--greenlinks);
  .feature-parallax {
    @include feature-parallax($gray);
  }

  .section-primary {
    margin-bottom: vrem(6);
    @include bp(large) {
      @include span(8 at 1);
      margin-bottom: 0;

      &:last-child {
        @include span(11 at 1);
      }
    }
  }
  .section-secondary {
    @include bp(large) {
      @include span(11 at 10);
    }
  }
}

#reviews {
  padding-top: vrem(16);
  @include bp(large) {
    padding-top: vrem(20);
  }

  .field-commerce-price {
    margin-top: vrem(2.5);
    margin-bottom: vrem(3);
    text-align: right;
    .flexbox & {
      justify-content: flex-end;
      .price--gray {
        display: block;
      }
    }
  }
  .section--primary {
    margin-bottom: vrem(16);
    @include bp(large) {
      @include span(6 at 1);
      margin-bottom: 0;
    }

    .heading--ruled {
      @include font-size(heading--section);
    }
  }
  @include bp(large) {
    .section--secondary {
      @include span(12 at 9);
    }
  }
}

.separator-rule {
  @include rule(top);
}
