//
// Grid
//

//
// The grid
//
@mixin grid($item-selector: li, $per-row: 2, $spacing: 0) {
  $spacer-small: 10;
  $spacer: 16;
  $large-grid-span: (20 / $per-row);
  $medium-grid-span: (20 / 2);
  $half-per-row: ($per-row / 2);

  @include list--no-bullets;
  @include clearfix;

  > #{$item-selector} {
    margin-top: 0;
    vertical-align: top;

    &:first-child {
      margin-top: 0;
    }
  }

  @include bp(medium) {
    text-align: center;

    > #{$item-selector} {
      float: left;
      width: span($medium-grid-span at 1);
      text-align: left;
      margin-right: $spacing;;
    }
  }

  // @include bp(medium large) {
  //   > #{$item-selector} {
  //     width: span(($medium-grid-span / 2) at 1);

  //     &:nth-child(2n) {
  //       margin-right: 0;
  //     }

  //     &:nth-child(2n+1) {
  //       clear: both;
  //     }

  //     // Only one item.
  //     &:last-child:nth-child(2n+1) {
  //       display: inline-block;
  //       float: none;
  //       margin-left: auto;
  //       margin-right: auto;
  //       width: 50%;
  //     }
  //   }
  // }

  @include bp(large) {
    > #{$item-selector} {

      width: span($large-grid-span);
      margin-right: $spacing;

      &:nth-child(-n+#{$per-row}) {
        margin-top: 0;
      }

      &:nth-child(#{$per-row}n) {
        margin-right: 0;
      }

      &:nth-child(#{$per-row}n+1) {
        clear: both;
      }

      // Only Two items.
      &:nth-last-child(1):first-child {
        display: inline-block;
        float: none;
      }
      &:nth-last-child(1):first-child ~ li {
        display: inline-block;
        float: none;
        margin-right: 0;
      }
    }
  }
}
