//
// @file
// Button mixins.
// ---------------------------------------------------------------------------
@mixin button {
  display: inline-block;
  border: 0;
  color: $white;
}

@mixin button--block {
  display: block;
  width: 100%;
  border: 0;
  color: $white;
}

// Button sizes
// ---------------------------------------------------------------------------
@mixin button--tiny {
  @include font-size(link--tiny);
  padding: vrem(2.5) 2px;

  @include bp(x-large) {
    padding: vrem(2.5) vrem(4);
  }
}

@mixin button--small {
  @include font-size(link--small);
  padding: vrem(2) vrem(3);
}

@mixin button--medium {
  padding: vrem(1) vrem(3);
  @include font-size(link);
}

@mixin button--large {
  padding: vrem(3.5) vrem(10);
  @include font-size(link--large);
}

// Button colors
// ---------------------------------------------------------------------------
@mixin button--primary {
  text-transform: uppercase;
  font-family: $ff-lato-bold;
  text-shadow: -1px -1px 1px rgba($black, .1);
  background-color: $green;
  transition: background-color .2s ease-out;

  &:hover,
  &:focus {
    background-color: $green-dark;
  }

  &:active {
  }
}

@mixin button--secondary {
  background-color: $clr-btn--secondary;

  &:hover {
  }

  &:active {
  }
}

@mixin button--tertiary($color: $white, $border-color: $white) {
  padding: vrem(3) vrem(6);
  font-family: $ff-lato-bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $color;
  border: 1px solid $border-color;
  background-color: transparent;

  transition: all .3s ease-in-out;
  &:hover {
    background-color: rgba($color, .2);
  }

  &:active {
  }
}

@mixin button--gray {
  position: relative;
  display: inline-block;
  background-color: $gray-lightest;
  color: #a09e9f;
  transition: all .3s ease-in-out;

  &:hover {
    color: #a09e9f;
    background-color: darken($gray-lightest, 5%);
  }
}

@mixin button--link {
  &:hover {
    color: $white;
  }
}

@mixin button--disabled {
  text-transform: uppercase;
  font-family: $ff-lato-bold;
  text-shadow: -1px -1px 1px rgba($black, .1);
  background-color: $gray-silver;
  transition: background-color .2s ease-out;

  &:hover,
  &:focus {
    background-color: $gray-silver;
  }

  &:active {
  }
}

// Button icons
// ---------------------------------------------------------------------------
@mixin button-icon($x-size: 18px, $y-size: $x-size) {
  content: '';
  position: relative;
  width: $x-size;
  height: $y-size;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
}

@mixin button-icon--before($x-size: 18px, $y-size: $x-size) {
  vertical-align: middle;

  &:before {
    @include button-icon($x-size, $y-size);
  }
}

@mixin button-icon--after($x-size: 18px, $y-size: $x-size) {
  vertical-align: middle;

  &:after {
    @include button-icon($x-size, $y-size);
  }
}
