//
// Button links
//

.link--button {
  @include button;
  @include button--medium;
  @include button--primary;
  @include button--link;
}

.link--button--small {
  @include button;
  @include button--small;
  @include button--primary;
  @include button--link;
}

.link--block {
  display: block;
  clear: both;
}

.link--list {
  margin-top: vrem(4);
  a {
    @include link--go();
    margin-top: vrem(1);
    margin-bottom: vrem(1);
    @include font-size(body--small);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.link--go {
  @include link--go();
}
.link--go--container {
  > a {
    @include link--go();
  }
}

.link--text {
  color: $clr-text;
}

.link--button-white {
  display: inline-block;
  @include button--small;
  @include button--tertiary;
  padding-top: vrem(2);
  padding-bottom: vrem(2);
  padding-left: vrem(12);
  padding-right: vrem(12);
}

.link--small {
  margin-top: vrem(1);
  margin-bottom: vrem(1);
  @include font-size(review-promo-link);
}
