//
// List styles.
//

.no-bullets {
  list-style: none;
  padding-left: 0;
}

.list--3up {
  @include list--3up;
}

.list--ruled {
  @include list--ruled(vrem(4));
}

.simple--list {
  > li + li,
  > li + li {
    margin-top: vrem(5);
  }
}
