//
// Price field
//

.price--gray {
  margin-top: vrem(.5);
  color: $gray;
}

.commerce-product-field-commerce-price {
  font-family: $ff-lato-regular;
}

.price--large {
  @include font-size(price);

  .flexbox & {
    display: flex;
    justify-content: flex-end;
  }
  span {
    &.symbol {
      @include font-size(price--tiny);
      .flexbox & {
        align-self: flex-start;
      }
    }
    &.dollars {
      .flexbox & {
        align-self: flex-end;
      }
    }
    &.cents {
      @include font-size(price--tiny);
      .flexbox & {
        align-self: flex-start;
        line-height: .8rem;
      }
    }
  }
}

.field-commerce-price {
  position: relative;
  display: inline-block;

}

.original-price {
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;

    opacity: 0.8;
    border-bottom: 3px solid lighten($clr-error, 10%);
    transform: skewY(-5deg);
  }
}
.price--tax {
  margin-top: -0.1em;
  display: block;
  @include font-size(body--tiny);
}
