//
// Button objects.
//

.field--button--teritary {
  > a {
    display: inline-block;
    @include button--small;
    @include button--tertiary;
  }
}

.button--add-to-cart {
  @include button--block;
  @include button--primary;
  @include button--large;

  margin-top: vrem(2);
}

input[type="submit"].button--add-to-cart {
  @include button--block;
  @include button--primary;
  @include button--large;

  margin-top: vrem(2);
}

input[type="submit"].button--cart {
  @include button--block;
  // @include button--large;
  // @include button--disabled;
  padding: vrem(3.5) vrem(10);
  margin-top: vrem(3);
  @include font-size(body--small);

  .node-printer & {
    @include button--large;
  }
}

input[type="submit"],
button {
  &[disabled="disabled"] {
    @include button--disabled;
  }
}

button.button--check-availability {
  @include button--tiny;
  min-height: 50px;
}

.share--product {
  @include button--gray;
  @include font-size(body--small);
  @include button-icon--after(14px, 11px);
  padding: 5px vrem(2);
  font-family: $ff-lato-regular;

  &:after {
    vertical-align: inherit;
    margin-top: -2px;
  }
}

// Cart button in header
.cart,
.cart--drawer {
  position: relative;
  transition: background-image 0.2s ease-in-out;

  .cart-item-count {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    right: -10px;
    border-radius: 40em;
    text-align: center;
    font-weight: $fw-bold;
    @include font-size(cart--icon);
  }
}
.cart {

  .cart-item-count {
    background-color: $green;
    color: $white;
  }
}

// Cart button in mobile drawer
.cart--drawer {
  float:right;
  width: 30px;
  height: 30px;
  top: -10px;

  .cart-item-count {
    font-family: $ff-sans;
    background-color: $white;
    color: $gray-black;
  }
}
